@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle, #fff, rgb(80, 163, 13));
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: yellowgreen;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header span {
    position: absolute;
    left: 40px;
    background-color: yellow;
    padding: 7px;
    border-radius: 15px;
    border: 2px solid greenyellow;
}

span[id="pTag"], span[id="blockies"] {
    background-color: yellow;
    padding: 7px;
    border-radius: 15px;
    border: 2px solid greenyellow;
}

.header span[id="userID"] {
    position: absolute;
    left: unset;
    right: 40px;
    
}

.header h2 {
    margin: 10px 0;
    padding: 0px;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

.header a {
    text-decoration: none;
    color:rgb(33, 154, 230);
    background: none
}

.post-carousel {
    overflow: hidden;
    max-width: 300px;
}

.post-slide {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.post-image {
    background-color: rgba(127, 111, 228, 0.685);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    color: rgb(255, 255, 255);
    width: 300px;
    height: auto;
    /* box-shadow: 0 5px 55px rgba(0, 0, 0, 0.5); */
    z-index: 3;
}

.post-image h3 {
    margin: 0;
    letter-spacing: 2px;
}

.post-image p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

.post-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 3px;
    padding-bottom: 10px;
}

ul {
    display: flex;
    justify-content: space-around;
    background-color: rgba(52, 154, 238, 0.493);
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    align-items: center;
    width: 80%;
    /* box-shadow: 0 5px 55px rgba(0, 0, 0, 0.5); */
    margin: -5px;
    z-index: 2;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

small {
    font-size: 10px;
    margin-top: 4px;
    color: #fff;
}

a {
    background-color: rgba(64, 224, 208, 0.671);
    border-radius: 5px;
    margin-top: 2px;
    padding: 10px;
    width: 60%;
    text-align: center;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    /* box-shadow: 0 5px 55px rgba(0, 0, 0, 0.5); */
}

button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

button:hover {
    transform: scale(1.3);
}

button:active {
    transform: scale(0.99);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: yellowgreen;
    width: 100%;
    text-align: center;
}

footer i {
    color: red;
}

.nav-btn {
    font-size: 35px;
}

#prevBtn {
    margin-right: 20px;
}

#nextBtn {
    margin-left: 20px;
}

.upload-btn {
    position: fixed;
    right: 30px;
    bottom: 80px;
    background-color: yellow;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.upload-btn:hover {
    transform: none;
}

.upload-btn:active {
    transform: scale(0.96);
}

form {
    position: absolute;
    top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 40px;
    border-radius: 7px;
    width: 384px;
    z-index: 999;
}

input {
    border: none;
    background-color: #eee;
    margin: 4px;
    padding: 12px 15px;
    width: 100%;
}


.form-container {
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 998;
    backdrop-filter: blur(15px);
    display: none;
    transition: display 3s ease-in;
}

.form-container.visible {
    display: flex;
}

.form-btns {
    margin: 10px 0;
    font-size: 0px;
    width: 100%;
    text-align: right;
}

.form-btn {
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 4px;
    font-size: 16px;
    padding: 9px;
    line-height: 15px;
}

.form-btn:hover {
    transform: none;
}

.form-btn:active {
    transform: scale(0.96);
}

form h1 {
    color: yellowgreen
}

hr {
    width: 100%;
    margin-bottom: 20px;
    background-color: black;
}

.notification {
    position: absolute;
    top: 80px;
    left: -50%;
    background-color: rgb(146, 51, 235);
    height: auto;
    width: 50%;
    border-radius: 5px;
    transition: transform 1s ease-in-out;
    color: white;
    text-align: center;
}

.not-loader-container {
    background-color: white;
    height: 2.2px;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

.not-text {
    padding: 5px 15px;
}

.not-loader {
    background-color: rgb(144, 173, 13);
    height: 2.2px;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 0;
    transition: transform 4.7s ease-in-out;
}
